@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&family=Quicksand:wght@300&display=swap');

:root{
    --overlay-color:#CCCC00;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins','Quicksand',sans-serif;
}

.video_slide_show header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.video_slide_show header .logo{
    text-transform: uppercase;
    cursor: pointer;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: url(menuu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}
.toggle.active{
    background: url(close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}
.video_slide_show{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
    transition: 0.5s;

}
.video_slide_show.active{
    right: 300px;
}
.video_slide_show video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}


.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:var(--overlay-color);
    mix-blend-mode: overlay;
    /* background: rgba(0, 0, 0, 0.5);  backgraund color for pop the video*/
}
.text{
    position: relative;
    z-index: 10;
}
.text h2{
    font-size: 2em;
    font-weight: 800;
    line-height: 1em;
    color: #fff;
    text-transform: uppercase;
}
.text h3{
    font-size: 1em;
    font-weight: 700;
    line-height: 1em;
    color: #fff;
    text-transform: uppercase;
}
.text p{
    color: #fff;
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}
.text a{
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #111;
    margin-top: 10px;
    letter-spacing: 2px;
    transition: 0.2s;
}
.text a:hover{
    letter-spacing: 6px;
}
.social{
    position: absolute;
    bottom: 20px;
    z-index:10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social li{
    list-style: none;
}
.social li a{
    display: inline;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;
}
.social li a:hover{
    transform: scale(0.5) translateY(-15px);
}

.menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu ul{
    position: relative;
}
.menu ul li
{
list-style: none;
}
.menu ul li a{
    text-decoration: none;
    font-size: 24px;
    color: #111;

}
.menu ul li a:hover{
    color: var(--overlay-color);

}
.l-container {
    padding-left: 20px;
    padding-right: 20px;
    background-color:#fff;
}
.page {
    margin: auto;
    max-width: 1400px;
    min-height: 1500px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

  /* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
.columnVideo{
    width: 100%;
    object-fit: concovertain;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    }
}

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    }
}

@media(max-width:790px){
    .video_slide_show,
    .video_slide_show header{
        padding: 40px;
    }
    .text h2{
        font-size: 1.1em;
    }
    .text h3{
        font-size: 0.8em;
    }
}